<div class="row">
   <div class="col-md-8">
     <div class="media">
       <br />
       <% avatar_url = @user.avatar_url(128) %>
       <% if avatar_url %>
         <div class="media-left">
           <%= image_tag avatar_url, class: 'media-object' %>
         </div>
       <% end %>
       <div class="media-body">
         <h2 class="media-heading"><%= @user.name %></h2>
	 <small>
             <%= pluralize(@user.posts.count, 'post') %>,
             <%= pluralize(@user.comments.count, 'comment') %>
         </small>
       </div>
     </div>
   </div>
 </div>
 
<h2>Posts</h2>
  <% if user_has_no_posts?(@user) %>
    <small><%= @user.name %> has not submitted any posts yet</small>
  <% else %> 
    <%= render @user.posts %>
  <% end %>

<h2>Comments</h2>
  <% if user_has_no_comments?(@user) %>
    <small><%= @user.name %> has not submitted any comments yet</small>
  <% else %>
    <%= render @user.comments %>
  <% end %>
